<footer class="editor-footer">
    <div class="container">
        <div class="head"><img class=" lazyloaded"
                data-src="https://images.template.net/images/static-images/editor-logo.png" alt=""
                src="https://images.template.net/images/static-images/editor-logo.png">
            <p>Unlimited Downloads. Cancel Anytime!</p><img class=" lazyloaded"
                data-src="https://images.template.net/images/static-images/editor-bank-cards-hash.jpg" alt=""
                src="https://images.template.net/images/static-images/editor-bank-cards-hash.jpg">
        </div>
        <div class="footer-nav">
            <div class="footer-left-sec list">
                <h4 onclick="footerLink(this)">Business</h4>
                <ul>
                    <li><a target="_blank" href="https://www.template.net/editable/restaurant">Restaurant</a></li>
                    <li><a target="_blank" href="https://www.template.net/editable/software">Software</a></li>
                    <li><a target="_blank" href="https://www.template.net/editable/it-company">IT Company</a></li>
                    <li><a target="_blank" href="https://www.template.net/editable/startup">Start up</a></li>
                    <li><a target="_blank" href="https://www.template.net/editable/corporate">Corporate</a></li>
                    <li><a target="_blank" href="https://www.template.net/editable/company">Company</a></li>
                    <li><a target="_blank" href="https://www.template.net/editable/sports">Sports</a></li>
                    <li><a target="_blank" href="https://www.template.net/editable/cafe">Cafe</a></li>
                </ul>
            </div>
            <div class="footer-left-sec templates list">
                <h4 onclick="footerLink(this)">Templates</h4>
                <ul>
                    <li><a target="_blank" href="https://www.template.net/editable/graphic-templates">Graphic Design</a>
                    </li>
                    <li><a target="_blank" href="https://www.template.net/editable/documents">Business Document</a></li>
                    <li><a target="_blank" href="https://www.template.net/editable/sales-templates">Sales &amp;
                            Marketing</a></li>
                    <li><a target="_blank" href="https://www.template.net/editable/hr-templates">Human Resources</a>
                    </li>
                    <li><a target="_blank" href="https://www.template.net/editable/finance-templates">Accounting &amp;
                            Finance</a></li>
                    <li><a target="_blank" href="https://www.template.net/editable/legal-templates">Legal Documents</a>
                    </li>
                    <li><a target="_blank" href="https://www.template.net/editable/presentations">Presentation &amp;
                            Pitch Deck</a></li>
                    <li><a target="_blank" href="https://www.template.net/editable/website-templates">Website</a></li>
                    <li><a target="_blank" href="https://www.template.net/editable/print-templates">Print &amp;
                            Stationery</a></li>
                </ul>
            </div>
            <div class="footer-left-sec templates list">
                <h4 onclick="footerLink(this)">General</h4>
                <ul>
                    <li><a target="_blank" href="https://www.template.net/editable/employment">Employment</a></li>
                    <li><a target="_blank" href="https://www.template.net/editable/management">Management</a></li>
                    <li><a target="_blank" href="https://www.template.net/editable/marketing-templates">Marketing</a>
                    </li>
                    <li><a target="_blank" href="https://www.template.net/editable/training">Training</a></li>
                    <li><a target="_blank" href="https://www.template.net/editable/sales-templates">Sales</a></li>
                </ul>
            </div>
            <div class="footer-left-sec company list">
                <h4 onclick="footerLink(this)">Company</h4>
                <ul>
                    <li><a target="_blank" href="https://www.template.net/">Home</a></li>
                    <li><a target="_blank" href="https://www.template.net/about">About Us</a></li>
                    <li><a target="_blank" href="https://www.template.net/blog/">Read Blog</a></li>
                    <li><a target="_blank" href="https://www.template.net/contact-us">Contact</a></li>
                    <li><a target="_blank" href="https://www.template.net/disclaimer">Disclaimer</a></li>
                    <li><a target="_blank" href="https://www.template.net/faqs">Support/FAQs</a></li>
                    <li><a href="mailto:support@blueberrylabs.com">Email Us</a></li>
                    <li><a target="_blank" href="https://www.template.net/affiliate">Affiliate</a></li>
                    <li><a target="_blank" href="https://www.template.net/pricing">Plans &amp; Pricing</a></li>
                </ul>
            </div>
            <div class="footer-left-sec list">
                <h4 onclick="footerLink(this)">Information</h4>
                <ul>
                    <li><a target="_blank" href="https://www.template.net/license-agreement">License Agreement</a></li>
                    <li><a target="_blank" href="https://www.template.net/terms-and-conditions">Terms &amp;
                            Conditions</a></li>
                    <li><a target="_blank" href="https://www.template.net/rights-policy">Rights Policy</a></li>
                    <li><a target="_blank" href="https://www.template.net/privacy">Privacy Policy</a></li>
                    <li><a target="_blank" href="https://www.template.net/usage-terms">Terms of Use</a></li>
                    <li><a target="_blank" href="https://www.template.net/branding">Brand Guidelines</a></li>
                    <li><a target="_blank" href="https://www.template.net/refund-policy">Refund Policy</a></li>
                </ul>
            </div>
        </div>
        <div class="copy-rights">
            <h6>All Rights Reserved © 2020 Template.net</h6>
        </div>
    </div>
</footer>