<footer>
    <div class="container">
        <ul>
            <li class="footer-left-sec copyright-sec footer-logo-sec"><img
                    src="https://images.template.net/images/template-net-logo.svg" class="footer-logo"
                    alt="template.net">
                <h6>All Rights Reserved<br>© 2020 Template.net</h6>
                <ul class="social-icons footermenu">
                    <li><a href="https://in.pinterest.com/templatenet/pins/" target="_blank" rel="noopener"><i
                                class="pin"></i></a></li>
                </ul>
            </li>
            <li class="footer-left-sec">
                <h4 class="f-menu" onclick="footerLink(this)">Business</h4>
                <ul class="footermenu f-static">
                    <li><a target="_blank" href="https://newft.survivalapp.com/editable/restaurant">Restaurant</a></li>
                    <li><a target="_blank" href="https://newft.survivalapp.com/editable/software">Software</a></li>
                    <li><a target="_blank" href="https://newft.survivalapp.com/editable/it-company">IT Company</a></li>
                    <li><a target="_blank" href="https://newft.survivalapp.com/editable/startup">Start up</a></li>
                    <li><a target="_blank" href="https://newft.survivalapp.com/editable/corporate">Corporate</a></li>
                    <li><a target="_blank" href="https://newft.survivalapp.com/editable/company">Company</a></li>
                    <li><a target="_blank" href="https://newft.survivalapp.com/editable/sports">Sports</a></li>
                    <li><a target="_blank" href="https://newft.survivalapp.com/editable/cafe">Cafe</a></li>
                </ul>
            </li>
            <li class="footer-left-sec">
                <h4 class="f-menu" onclick="footerLink(this)">Company</h4>
                <ul class="footermenu f-static">
                    <li><a target="_blank" rel="noopener" href="https://newft.survivalapp.com">Home</a></li>
                    <li><a target="_blank" rel="noopener" href="https://newft.survivalapp.com/about">About Us</a></li>
                    <li><a target="_blank" rel="noopener" href="https://newft.survivalapp.com/blog/">Read Blog</a></li>
                    <li><a target="_blank" rel="noopener" href="https://newft.survivalapp.com/contact-us">Contact</a>
                    </li>
                    <li><a target="_blank" rel="noopener" href="https://newft.survivalapp.com/disclaimer">Disclaimer</a>
                    </li>
                    <li><a target="_blank" rel="noopener" href="https://newft.survivalapp.com/faqs">Support/FAQs</a>
                    </li>
                    <li><a target="_blank" rel="noopener" href="mailto:support@template.net">Email Us</a></li>
                    <li><a target="_blank" rel="noopener" href="/affiliate">Affiliate</a></li>
                </ul>
            </li>
            <li class="footer-left-sec">
                <h4 class="f-infor" onclick="footerLink(this)">Information</h4>
                <ul class="footermenu f-information">
                    <li><a target="_blank" rel="noopener" href="https://newft.survivalapp.com/license-agreement">License
                            Agreement</a></li>
                    <li><a target="_blank" rel="noopener"
                            href="https://newft.survivalapp.com/terms-and-conditions">Terms &amp; Conditions</a></li>
                    <li><a target="_blank" rel="noopener" href="https://newft.survivalapp.com/rights-policy">Rights
                            Policy</a></li>
                    <li><a target="_blank" rel="noopener" href="https://newft.survivalapp.com/privacy">Privacy
                            Policy</a></li>
                    <li><a target="_blank" rel="noopener" href="https://newft.survivalapp.com/usage-terms">Terms of
                            Use</a></li>
                    <li><a target="_blank" rel="noopener" href="https://newft.survivalapp.com/branding">Brand
                            Guidelines</a></li>
                    <li><a target="_blank" rel="noopener" href="https://newft.survivalapp.com/refund-policy">Refund
                            Policy</a></li>
                    <li><a target="_blank" rel="noopener" href="/pricing">Plans &amp; Pricing</a></li>
                </ul>
            </li>
            <li class="footer-left-sec blog-articles">
                <h4 class="f-social" onclick="footerLink(this)">Recent Articles</h4>
                <ul class="footermenu">
                    <li>
                        <h2><a target="_blank" rel="noopener"
                                href="https://www.template.net/blog/hr/employee-orientation-checklist/">New Employee
                                Orientation Program Checklist</a></h2>
                    </li>
                    <li>
                        <h2><a target="_blank" rel="noopener"
                                href="https://www.template.net/blog/hr/ways-to-advertise-job-openings/">Top 10 Ways to
                                Advertise Job Openings</a></h2>
                    </li>
                    <li>
                        <h2><a target="_blank" rel="noopener"
                                href="https://www.template.net/blog/hr/steps-conduct-a-job-interview/">13 Steps to
                                Conducting a Job Interview</a></h2>
                    </li>
                    <li>
                        <h2><a target="_blank" rel="noopener"
                                href="https://www.template.net/blog/hr/retention-strategies/">Employee Retention
                                Strategies</a></h2>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</footer>