<!DOCTYPE html>
<html>

<head>
    This is Category layout
</head>

<body>
    <%- body %>
    <script src="/assets/js/common.js"></script>
    <script src="/assets/jquery.js"></script>
</body>

</html>