<!DOCTYPE html>
<html>
    <head>
        This is Category layout
    </head>
    <body>
        <%- body %>
        <script src="/dist/home.bundle.js"></script>
        <script src="/dist/styles.bundle.js"></script>
    </body>
</html>