<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/assets/css/layout.css">
    <style media="screen">
        <%- include('../../assets/css/firstfold/' + firstfold + '.css') %> 
    </style>
</head>

<body>
    <%- body %>
    <script src="/assets/js/common.js"></script>
    <script src="/assets/jquery.js"></script>
</body>

</html>