<!DOCTYPE html>
<html>

<head>
    This is New layout
    <link rel="stylesheet" href="/assets/css/layout.css">
    <style media="screen">
        <%- include('../../assets/css/firstfold/' + firstfold + '.css') %> 
    </style>
</head>

<body>
  <%- body %>
  this is for testing

  <%- Assets.getJavascriptFile("categories") %>
</body>

</html>