<!DOCTYPE html>
<html>

<head>
    This is New layout
    <link rel="stylesheet" href="/assets/css/layout.css">
    <%- include('../../assets/css/firstfold/'+firstfold+'.css') %>
</head>

<body>
    <%- body %>
</body>

</html>