<!DOCTYPE html>

<html>
    <head>
        Hello World
    </head>
    <h1>First Ejs Page</h1>
    <body>
        <div id="name">Rohit</div>
        <script src="bundle.js"></script>
    </body>
</html>
