/* Font family */
$font-r: 'montserratregular';
$font-l: 'montserratlight';
$font-m: 'montserratmedium';
$font-sb: 'montserratsemi';

/* color */
$mcolor: #0460d0;
$hcolor: #0049a1;
$bcolor: #222;
$wcolor: #fff;
$pcolor: #e21d09;
$fcolor: #eeeeee;
$ecolor: #425b76;

/* Font size */
$prim-font: 14px;
$secon-font: 16px;
$third-font: 18px;

/* white spacing */
$s2: 0.2px;
$s4: 0.4px;
$s3: 0.3px;
$s6: 0.6px;

/*icons*/
$icons: 'https://images.template.net/images/img/pro-icons-42.svg';
